:root {
  --white: #ffffff;
  --navyblue: #404bbf;
  --blue: #4d5ae5;
  --titel-color: #2e2f42;
  --gray: #434455;
  --cloud: #f4f4fd;
}
.header {
  list-style: none;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.hader-li {
  color: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--gray);
  background-color: var(--white);
}
.link {
  text-decoration: none;
}
.link-items {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.studio::after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;

  color: var(--navyblue);

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio.current::after {
  background: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pages-box-text {
  position: relative;
  overflow: hidden;
}
.pages-box-text:hover .overlay {
  transform: translateY(0);
  background-color: var(--blue);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-ul {
  display: flex;
  gap: 40px;
}
.list-ul-second {
  gap: 24px;
  display: flex;
}
.list-nav {
  display: flex;
  align-items: center;
}
.ul-logo {
  display: flex;
}
.li-items {
  flex-basis: calc((100% - 72px) / 4);
}
.header-container {
  display: flex;
}
.img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.img-container-flex {
  gap: 24px;
}
.img-li-last {
  margin-right: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.logo {
  margin-right: 76px;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
  text-decoration: none;
}
.span {
  color: var(--titel-color);
}
.footer-span {
  color: #f4f4fd;
}
.flex-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--titel-color);
  text-decoration: none;
  position: relative;
}
.current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio:hover,
.studio:focus {
  color: var(--navyblue);
}
.address {
  display: flex;
  justify-content: end;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-address {
  font-style: normal;
  margin-left: auto;
}
.address:hover,
.address:focus {
  color: var(--navyblue);
}
.section-one {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 188px 0;
}
.titel-one {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.button-container {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--blue);
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.section-twoe {
  list-style: none;
  padding: 120px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.titel-twoe {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-color);
}
.text-center {
  text-align: center;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.titel-three {
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--titel-color);
}
.section-three {
  list-style: none;
  padding-bottom: 120px;
}
.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.titel-four {
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--titel-color);
}
.list-item {
  background-color: var(--white);
}
.team {
  flex-basis: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.div-team {
  padding: 32px 0;
}
.text-four {
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-color);
}
.footer {
  background-color: var(--titel-color);
  padding: 100px 0;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.button-flex {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue);
  background-color: #f4f4fd;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--navyblue);
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-a:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-a:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.titel-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-color);
  margin-bottom: 8px;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.text-portfolio:hover,
.text-portfolio:focus {
  transform: translateY(0%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio-flex {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-pictuses {
  margin-top: 72px;
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pictures-size {
  flex-basis: calc((100% - 48px) / 3);
}
.pictures-size:hover,
.pictures-size:focus {
  transform: translateY(0%);
}
.pictures-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-footer-div {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}
.footer-div {
  margin-right: 120px;
}
.container-portfolio {
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 72px;
}
.section-container {
  background-color: var(--titel-color);
  padding: 188px 472px 292px 472px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.container-footer {
  padding: 100px 1020px 100px 156px;
}
.container-pictures {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.header-list {
  gap: 40px;
}
.svg-section-twoe {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
  border-radius: 4px;
}
.section-five {
  padding: 120px 0;
  list-style: none;
  background-color: #fff;
}
.titel-five {
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--titel-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.five-icon {
  display: flex;
  gap: 24px;
}
.five-icon-li {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.five-icon-li-a {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}
.five-icon-li-a:hover,
.five-icon-li-a:focus {
  color: var(--navyblue);
  border-color: var(--navyblue);
}
.svg-section-four-icon {
  fill: currentColor;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;

  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--navyblue);
  border: none;
  fill: var(--white);
}
.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-icon:hover,
.modal-button-icon:focus {
  fill: var(#ffffff);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-250%);
  opacity: 0;
}
.text-six {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);

  margin-bottom: 16px;
}
.icon-six {
  display: flex;
  gap: 16px;

  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-six-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-six-li-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-six-li-a:hover,
.icon-six-li-a:focus {
  background-color: #31d0aa;
}

.social-link {
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 24px;
}
.social-link-li {
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-li-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-li-a:hover,
.social-link-li-a:focus {
  background-color: var(--navyblue);
}
.svg-section-people-icon {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons {
  margin-right: 120px;
}
.li-button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-pictures {
  position: relative;
  overflow: hidden;
}
.div-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 10px 32px;
  background-color: var(--blue);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.portfolio-box:hover,
.portfolio-box:focus {
  transform: translateY(0%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  color: var(--cloud, #f4f4fd);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .overlay {
  transform: translateY(0%);
}
.link:focus .overlay {
  transform: translateY(0%);
}
.footer-info {
  display: block;
  margin-right: 120px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.six-div {
  margin-left: 120px;
}
.footer-subscribe {
  display: flex;
  justify-content: center;
}
.footer-form {
  align-items: center;
  display: flex;
  gap: 24px;
}
.footer-form-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  width: 264px;
  height: 40px;

  color: var(--white);
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
}
.footer-form-input::placeholder {
  color: #ffffff;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-seven {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
.footer-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  fill: var(--white);

  min-width: 165px;
  height: 40px;
}
.modal-caption {
  color: var(--titel-color);
  text-align: center;
  display: block;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 360px;
  margin-bottom: 16px;
}
.modal-form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16;
  width: 100%;
  outline: transparent;
  transition: border-color var(--animation);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}
.div-comment {
  margin-bottom: 24px;
}
.modal-form-comment:focus {
  border-color: #4d5ae5;
}
.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-agrement {
  color: #8e8f99;

  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  display: block;
}
.modal-form-link {
  color: #4d5ae5;

  font-size: 12px;
  letter-spacing: 0.02em;
}
.modal-form-btn {
  margin-top: 24px;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
}
.button-modal {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon:focus {
  fill: #4d5ae5;
}
.modal-form-input:focus + .modal-form-icon {
  stroke: #4d5ae5;
}
.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: #4d5ae5;
}
.agrement-checkbox {
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
  fill: transparent;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agrement-checkbox-icon {
  fill: currentColor;
}
.modal-form-input:checked + .modal-form-agrement > .agrement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.div-label {
  margin-bottom: 8px;
}
.button-footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--blue);
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-div {
  margin-bottom: 16px;
}
.modal-div-name {
  margin-bottom: 8px;
}
.modal-form-description {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
